
.first {
    background-image: url("./assets/images/bckgrndd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
a{
    color: rgb(146, 105, 44);
    text-decoration: none;
}

h1{
    color: white ;
}
h5{
    color: white ;
}

.navbar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(0, 0, 0); 
  z-index: 100; 
  margin-right: 100px; 
}
.navbar ul{
  list-style: none;
  padding: 15px;
  display: flex;
}
.navbar li{
  margin-right: 20px;
}
.navbar li:last-child{
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold; 
}

.navbar a:hover {
  color: rgb(202, 146, 61);
}

.new{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(163, 113, 37);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.new:hover {
background-color: rgb(228, 171, 85);
}
.img1{
    float:right;
		margin-top:1em;
		margin-left: 100px;
        
}
  .textbox {
    border: 1px solid #1f1e1e;
    padding: 50px;
    padding-top: 40px;
    width: 350px;
    background-color: #1f1e1e;
  }

.container{
    display: flex; 
    align-items: center; 
  }

.ros{
  position: absolute;
    top: 650px;
    left: 950px;
    width: 230px;
    height: 290px;
    object-fit: cover;
    z-index: 1;
}

.boximg{

  
  padding: 80px;
  padding-left: 50px;
  margin-left: 220px;
  margin-right: 10px;

  
}


.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-left: 70px;
    border-radius: 50%;
}
.dis{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding:10px;
}
.nat{
  position: relative;
    text-align: center;
    color: white;
    padding-top: 40px;
}


.txt{ 
  
  text-align: center;
  margin-right: 80px;
}

.ing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-right: 80px;
}

form {
   
    max-width: 500px;
    min-width: 300px;
    margin: 1rem;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #000000;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: rgba(146, 105, 44, 0.404);;
    border: 1px solid rgba(146, 105, 44, 0.349);
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: rgb(160, 111, 36);
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  .bb:hover {
    background-color: rgb(218, 157, 66);;
  }

  .container {
    display: flex;
  
  }
  
  .left{
    margin-right: 400px; 
    
  }
  
  .right{
    font-weight: bold; 
  }
  .but1{

     
      padding: 13px 20px;
      font-size: 16px;
      border: none;
      background-color: rgb(131, 90, 28);
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .but1:hover {
      background-color: rgb(184, 123, 31);;
    }
    .img2{
      margin-left: 160px;
    }
  .footer {
    background-color: #181717;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul {
    margin-bottom: 15px;
  }
  
  .footer-section ul li {
    list-style: none;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  p{
    color: #ffffff;
  }
  .title {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    background-color: #000000; 
    padding: 10px 0; 
    border-bottom: 2px solid #999; 
}
#cart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px; 
  height: 40px;
  background-image: url('./assets/images/cart-icon.png'); 
  background-size: cover;
  cursor: pointer;
}
a.active {
  color:rgb(131, 90, 28);
  text-decoration: none; 
}

